.cart {
   width: 500px;
   padding: 20px 20px;
   margin: 0 auto;
   background: rgba(39, 87, 39, 0.3);
   border-radius: 10px;
   box-shadow: 0px 0px 16px 5px rgba(39, 87, 39, 0.3);
   margin-bottom: 40px;
}

.cartTitle {
   text-align: center;
   margin: 0;
}